<p style="color: green"><%= notice %></p>

<%= render @horizon_bank_transaction %>

<div>
  <%= link_to "Edit this horizon bank transaction", edit_horizon_bank_transaction_path(@horizon_bank_transaction) %> |
  <%= link_to "Back to horizon bank transactions", horizon_bank_transactions_path %>

  <%= button_to "Destroy this horizon bank transaction", @horizon_bank_transaction, method: :delete %>
</div>
