<%= form_with(model: branch_cash_transaction) do |form| %>
  <% if branch_cash_transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(branch_cash_transaction.errors.count, "error") %> prohibited this branch_cash_transaction from being saved:</h2>

      <ul>
        <% branch_cash_transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-6">
    <%= form.label :description, "Customer", style: "display: block", class: "text-lg font-bold" %>
    <%= form.text_field :description, class: "mt-2 font-mono font-bold text-2xl" %>
  </div>

  <div class="mt-6">
    <%= form.label :amount, style: "display: block", class: "text-lg font-bold" %>
    <%= form.number_field :amount, class: "mt-2 font-mono font-bold text-2xl" %>
  </div>

  <div class="bg-rose-600 text-white px-4 py-2 rounded mt-8 w-min">
    <%= form.submit "Withdraw" %>
  </div>
<% end %>
