<% content_for :title do %>
  Priory Post Office
<% end %>

<p style="color: green"><%= notice %></p>
<%= link_to "Reset", reset_demo_path, class: "hover:bg-red-300 text-slate-500 rounded inline-block fixed top-2 right-2" %>

<%= image_tag "post-office-logo.png", class: "w-24 mx-auto" %>
<h1 class="text-xl mx-auto font-bold text-center mt-4">Priory Post Office</h1>
<h2 class="text-m mx-auto text-center mt-12">Cash ledger</h2>

<%= render "shared/record_table", records: @branch_cash_transactions, total_text: "Cash position" %>

<div class="mt-12 flex justify-center">
  <%= link_to "➖ Withdraw money", new_branch_cash_transaction_path, class: "text-gray-700 hover:bg-blue-200 py-2 px-4 rounded inline-block" %>
  <%= link_to "➕ Deposit money", new_branch_cash_transaction_path(deposit: true), class: "text-gray-700 hover:bg-blue-200 py-2 px-4 rounded inline-block" %>
</div>
